@model WebSiteBanSach.Models.DonHang

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>ThemMoi</h2>
@using (Html.BeginForm("ThemMoi", "QuanLyDonHang", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sach</h4>
        <hr />
        @Html.ValidationSummary(true)



        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiao)
                @Html.ValidationMessageFor(model => model.NgayGiao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDat)
                @Html.ValidationMessageFor(model => model.NgayDat)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.DaThanhToan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaThanhToan)
                @Html.ValidationMessageFor(model => model.DaThanhToan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrangGiaoHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrangGiaoHang)
                @Html.ValidationMessageFor(model => model.TinhTrangGiaoHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaKH")
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
