@model WebSiteBanSach.Models.ChuDe

@{
    ViewBag.Title = "HienThi";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>HienThi</h2>

<div>
    <h4>Thông tin chủ đề</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuDe)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaChuDe = Model.MaChuDe }) |
    @Html.ActionLink("Trở về", "Index")
</p>
