@model IEnumerable<WebSiteBanSach.Models.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
            @Html.ActionLink("Edit", "ChinhSua", new { @MaChuDe = item.MaChuDe }) |
            @Html.ActionLink("Details", "HienThi", new { @MaChuDe = item.MaChuDe }) |
            @Html.ActionLink("Delete", "Xoa", new { @MaChuDe = item.MaChuDe })
        </td>
    </tr>
}

</table>
