<script>
    function GoToHomePage() {
        window.location = '/';
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookshop</title>

    <!-- Bootstrap -->
    <link href="~/Content/assets_user/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets_user/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets_user/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets_user/css/main.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/assets_user/images/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper" class="st-pusher">
            <div class="st-pusher-after"></div>

            <!-- ============================================== HEADER ============================================== -->

            <header class="header">
                <nav class="navbar navbar-bookshop navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-xs-10 col-sm-10">
                                <ul class="nav navbar-nav">
                                    <li class="hidden-xs hidden-sm"><h6>Hỗ trợ trực tuyến: </h6></li>
                                    <li class="icon"><a href="#"><i class="icon fa fa-facebook-official"></i>  Facebook</a></li>
                                    <li class="icon"><a href="#"><i class="icon fa fa-skype"></i>  Skype</a></li>
                                    <li class="icon"><a href="mailto:nguyenhuuthuan94@gmail.com"><i class="icon fa fa-yahoo"></i>  Yahoo</a></li>
                                </ul><!-- /.nav -->
                            </div><!-- /.col -->

                            

                            <div class="col-md-6 col-sm-2 col-xs-2">
                                <div class="DangKyDangNhap">
                                    <ul class="nav navbar-nav navbar-right">
                                        
                                        <li class="icon"><a href="#"> @Html.Action("GioHangPartial", "GioHang")</a></li>
                                        <li class="icon"><a href="#"><i class="fa fa-sign-in"></i>  @Html.Action("DangKyPartial", "NguoiDung")</a></li>
                                        <li class="icon"><a href="#"><i class="fa fa-unlock"></i> @Html.Action("DangNhapPartial", "NguoiDung")</a></li>
                                        
                                    </ul><!-- /.nav -->
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </nav><!-- /.navbar -->

                <!-- ============================================== MAIN-HEADER ============================================== -->
                <div class="main-header">
                    <div class="container">
                        <div class="row">
                            <!-- ============================================== LOGO ============================================== -->
                            <div class="col-xs-12 col-sm-4 col-md-3 text-center logo-holder">
                                <a onclick="javascript:GoToHomePage()" href="javascript:void(0)">
                                    <h1 class="logo">BookShop</h1>
                                    <div class="logo-subtitle">
                                        <span>Trang web bán sách online</span>
                                    
                                    </div><!-- /.logo-subtitle -->
                                </a>
                                
                            </div><!-- /.logo-holder -->
                            <!-- ============================================== LOGO : END ============================================== -->
                            <!-- ============================================== SEARCH BAR ============================================== -->
                            


                            <div class="col-xs-12 col-sm-4 col-md-7 top-search-holder m-t-10">
                                <div id="txtTimKiem">
                                    @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Post))
                                    {
                                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "search-input form-control", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                                        @*Chèn vào image button hình ảnh*@
                                       
                                            @*<button class="page-search-button" type="submit"><img src="~/HinhAnh/imgSearch.png" /> </button>*@
                                            <button class="page-search-button" type="submit">
                                                <span class="fa fa-search">
                                                    <span class="sr-only">Search</span>
                                                </span>
                                            </button>
                                      
                                    }

                                </div>

                                @*<form class="search-form" role="search">
                                    <div class="form-group">
                                        <label class="sr-only" for="page-search"><i>Search</i></label>
                                        <input id="page-search" class="search-input form-control" type="search" placeholder="Tìm kiếm">
                                    </div>
                                    <button class="page-search-button">
                                        <span class="fa fa-search">
                                            <span class="sr-only">Search</span>
                                        </span>
                                    </button>
                                </form>*@
                            </div><!-- /.top-search-holder -->
                            <!-- ============================================== SEARCH BAR : END ============================================== -->
                            <!-- ============================================== SHOPPING CART DROPDOWN ============================================== -->
                            <div class="col-xs-12 col-sm-4 col-md-2 animate-dropdown1 top-cart-row m-t-10">

                                <a class="" href="/GioHang/GioHang">

                                    <span class="cart-block-heading" style="color:orange"><font size="5">@Html.Action("TongTienGioHangPartial", "GioHang") VNĐ </font><img src="~/Content/assets_user/images/cart-icon.png" alt="" width="22" height="17" /> </span>
                                    <br />
                                    <span class="hidden-xs">@Html.Action("GioHangPartial", "GioHang") chi tiết</span>


                                </a>

                            </div><!-- /.top-cart-row -->
                            <!-- ============================================== SHOPPING CART DROPDOWN : END ============================================== -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.main-header -->
                <!-- ============================================== END MAIN HEADER ============================================== -->
                <!-- ============================================== NAVBAR ============================================== -->
                <div class="header-nav animate-dropdown">
                    <div class="container">
                        <div class="nav-bg-class">
                            <!-- ============================================================= NAVBAR PRIMARY ============================================================= -->
                            <nav class="yamm navbar navbar-primary animate-dropdown" role="navigation">
                                <div class="navbar-header">
                                    <button id="btn-navbar-primary-collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div><!-- /.navbar-header -->
                                <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown yamm-fw">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Danh mục</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-4">
                                                                <div class="section">
                                                                    @*<h5 class="title">Danh mục</h5>
                                                                    <ul class="links list-unstyled">*@
                                                                        @Html.Action("ChuDePartial", "ChuDe")
                                                                    @*</ul>*@
                                                                </div><!-- /.section -->
                                                            </div><!-- /.col -->
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown yamm-fw">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Nhà xuất bản</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-4">
                                                                <div class="section">

                                                                    @Html.Action("NhaXuatBanPartial", "NhaXuatBan")

                                                                </div><!-- /.section -->
                                                            </div><!-- /.col -->
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown yamm-fw">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Tác giả</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-4">
                                                                <div class="section">

                                                                    @Html.Action("TacGiaPartial", "TacGia")

                                                                </div><!-- /.section -->
                                                            </div><!-- /.col -->
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active"><a href="#">Sách Giảm Giá</a></li>
                                        <li class="hidden-sm"><a href="#">Sách bán chạy</a></li>
                                        <li><a onclick="javascript:GoToHomePage()" href="javascript:void(0)"> Sách mới phát hành</a></li>
                                    </ul><!-- /.nav -->
                                </div><!-- /.collapse navbar-collapse -->
                            </nav><!-- /.yamm -->
                            <!-- ================================================== NAVBAR PRIMARY : END ======================================================= -->
                        </div><!-- /.nav-bg-class -->
                    </div><!-- /.container -->
                </div><!-- /.header-nav -->
                <!-- ============================================== NAVBAR : END ============================================== -->
            </header>
            <!-- ============================================== HEADER : END ============================================== -->
            <!-- ============================================== CONTENT PAGE ============================================== -->
            <div class="home-page">
                <div class="content">

                    @*Div body *@
                    <div id="NoiDung">
                        @RenderBody()

                    </div>
                    <div id="divChuDeVaNXB">
                        <section>
                            @*Phần chủ đề*@
                            <div id="divChuDe">

                            </div>
                            <hr>
                        </section>
                        <div style="clear:both"></div>

                        @*Div nhà xuất bản*@
                        <section class="blank items">
                            <div id="divLeft">
                                <div class="item">
                                    <div class="item-info" id="divNhaXuatBan">
                                        @*Action partialview*@
                                    </div>
                                </div>
                            </div>
                            <div id="divRight">
                                @RenderSection("NoiDungBenPhai",false)
                            </div>
                        </section>
                    </div>
                    <div style="clear:both"></div>
                    <div>
                        <a href="#" class="button button-buy">NHT</a>
                    </div>

                </div><!-- /.content -->
            </div><!-- /.home-page -->
            <!-- ============================================== FOOTER ============================================== -->
            <footer class="footer clearfix">
                <div class="margin-top-10">
                    <div class="container inner-top-vs">
                        <!-- ============================================== FOOTER-TOP ============================================== -->
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Hỗ trợ khách hàng</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="list-unstyled link-list" style="width:100%">
                                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                                            <li><a href="#">Email</a></li>
                                            <li><a href="#">Hotline: 1900-123</a></li>
                                            <li><a href="#">Hướng dẫn đặt hàng</a></li>
                                            <li><a href="#">Phương thức vận chuyển</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Danh mục</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">Ngoại Văn</a></li>
                                            <li><a href="#">Kinh Tế</a></li>
                                            <li><a href="#">Văn Học Trong Nước</a></li>
                                            <li><a href="#">Văn Học Nước Ngoài</a></li>
                                            <li><a href="#">Thiếu Nhi</a></li>
                                        </ul>

                                        <ul class="list-unstyled link-list">
                                            <li><a href="#">Tin Học - Ngoại Ngữ</a></li>
                                            <li><a href="#">Chuyên Ngành</a></li>
                                            <li><a href="#">Giáo Khoa - Giáo Trình</a></li>
                                            <li><a href="#">Thường Thức - Đời Sống</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 clearfix ">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Tài khoản của bạn</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="list-unstyled link-list" style="width:100%">
                                            <li><a href="#">Xem trạng thái đơn hàng</a></li>
                                            <li><a href="#">Lịch sử đơn hàng</a></li>
                                            <li><a href="#">Quên mật khẩu</a></li>
                                            <li><a href="#">Điều khoản sử dụng</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="footer-module">
                                    <h4 class="footer-module-title">Theo Dõi</h4>
                                    <div class="footer-module-body clearfix">
                                        <ul class="clearfix list-unstyled footer-social-contact">
                                            <li><a href="#" class="fa fa-facebook" title="Facebook"></a></li>
                                            <li><a href="#" class="fa fa-pinterest" title="Pinterest"></a></li>
                                            <li><a href="#" class="fa fa-linkedin" title="Linkedin"></a></li>
                                            <li><a href="#" class="fa fa-twitter" title="Twitter"></a></li>
                                            <li><a href="#" class="fa fa-google-plus" title="Google Plus"></a></li>
                                            <li><a href="#" class="fa fa-rss" title="Rss"></a></li>
                                            <li><a href="#" class="fa fa-instagram" title="Instagram"></a></li>

                                        </ul>


                                        <div class="inner-top-xs">
                                            <p>Đăng ký nhận bản tin</p>
                                            <form class="searchform" method="get">
                                                <input class="s" type="text" placeholder="Địa chỉ Email" name="s" value="">
                                                <input class="searchsubmit" type="submit" value="Đăng ký">
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================== FOOTER-TOP : END ============================================== -->            <hr>
                        <!-- ============================================== FOOTER-BOTTOM ============================================== -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <ul class="payment-list list-unstyled">
                                        <li><a href="#"><img src="~/Content/assets_user/images/payments/1.png" class="img-responsive" height="22" alt=""></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================== FOOTER-BOTTOM : END ============================================== -->
                    </div>
                </div>
            </footer>

            <a href="#" class="scrollToTop"><i class="fa fa-chevron-circle-up fa-5x"></i></a>
            <!-- ============================================== FOOTER : END ============================================== -->
        </div><!-- /.st-pusher -->
        <!-- ============================================== TOGGLE RIGHT CONTENT ============================================== -->

        

        <!-- ============================================== TOGGLE RIGHT CONTENT : END ============================================== -->
        

    </div><!-- /#wrapper -->

    <script src="~/Content/assets_user/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/assets_user/js/bootstrap.min.js"></script>
    <script src="~/Content/assets_user/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Content/assets_user/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets_user/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets_user/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets_user/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/assets_user/js/jquery.easing-1.3.min.js"></script>
    <script src="~/Content/assets_user/js/wow.min.js"></script>
    <script src="~/Content/assets_user/js/echo.min.js"></script>
    <script src="~/Content/assets_user/js/scripts.js"></script>
</body>
</html>
